<!DOCTYPE html>
<html>

<head>
	<title>Notes</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/homepage.css')}}">
</head>

<body>

	<div class="wrapper">
		<h1><p class = "heading" align="center">MediSoft HealthCare</p></h1>
		
		<ul class="nav">
	        <li class="nav"><a href={{url_for('health_centre',user_id=user_id)}}>Health Centres</a></li>
	        <li class="nav"><a href={{url_for('health_provider',user_id=user_id)}}>Health Providers</a></li>
		{% if user_type == 'Patient' %}    
            <li class="nav"><a href={{url_for('view_booking',user_id=user_id)}}>View Bookings</a></li>
	    {% else %}
	        <li class="nav"><a href={{url_for('view_booking',user_id=user_id)}}>View Consultations</a></li>
	    {% endif %}
		    <li class="nav"><a href={{url_for('logout')}}> Log out </a></li>
	    </ul>
	    <br>
		<p>
			<form method = "POST">
				<b>Notes for {{consultation.patient.name}} &nbsp; &nbsp; Date: {{consultation.date}} &nbsp; &nbsp; Centre: {{consultation.centre.name}}<br><br></b>
				<br><br>
				{% if admin == 'True' %}
					<textarea  name="notes" rows=20 cols="80">{{consultation.notes}}</textarea><br><br>
					<input type="submit" value="Submit">
				{% else %}
					<textarea  name="notes" rows=20 cols="80" readonly="readonly">{{consultation.notes}}</textarea><br>
				{% endif %}
				{% if admin == True %}
				{% endif %}
			</form>
		</p>
	</div>
</body>
</html>
